header.flex {
  background-color: var(--footer-bg);
  color: var(--white);
  padding-block: 0.6rem;

  & .fa-solid {
    color: var(--white);
  }

  & .logo .fa-solid {
    font-size: 1.5rem;
  }

  & .sign-in:hover,
  & .register:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem;
  }

  & .cart:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem 0.5rem 0.7rem;
  }

  & .logo:hover {
    scale: 0.95;
  }
}

section.cart article.flex {
  border-top: 2px solid var(--blue-button);
  background-color: var(--white);
  justify-content: space-between;
  margin-top: 1.8rem;
  max-width: 450px;
  margin-inline: auto;
  border-radius: 4px;
  font-weight: 500;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  & .fa-trash-can {
    margin-left: 1rem;
    color: var(--red-button);
  }
  & button.decrease {
    font-size: 1.9rem;
    color: var(--blue-button);
  }

  & .quantity {
    background-color: var(--blue-button);
    color: var(--white);
    border-radius: 50%;
    height: 21px;
    width: 21px;
    justify-content: center;
    margin-inline: 0.4rem;
    font-size: 0.8rem;
  }
  & button.increase {
    font-size: 1.4rem;
    color: var(--blue-button);
  }
}

button.clear {
  background-color: var(--red-button);
  border-radius: 4px;
  color: var(--white);
  margin-top: 1rem;
  padding: 6px 6px;
  font-size: 0.8rem;
}

section.summary {
  margin-top: 2.5rem;
  background-color: var(--white);
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  width: 233px;
  padding: auto;
  margin-inline: auto;
  border-radius: 4px;

  & h1 {
    font-size: 1.2rem;
    padding: 0.2rem;
    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.12);
  }

  & div.flex {
    justify-content: space-between;
    margin-block: 0.6rem;
    padding-inline: 0.6rem;
  }

  & button.checkout {
    width: 100%;
    color: var(--white);
    background-color: var(--blue-button);
    font-size: 0.9rem;
    font-weight: 500;
    padding-block: 0.6rem;
  }
  & a {
    color: var(--red-button);
    font-size: 0.9rem;
    padding-block: 0.5rem;
  }
}
