header.flex .fa-solid {
  color: var(--white);
}

body.cover-content {
  color: var(--white);
  background-color: var(--footer-bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  align-items: center;

  & .form {
    color: var(--white);
    margin-inline: auto;
  }

  & .name-title {
    margin-bottom: 0.2rem;
  }
  & .email-title {
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }

  & .password-title {
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }

  & .flex {
    margin-block: 0.8rem;
  }
  .checkbox {
    margin-right: 0.5rem;
  }

  .submit {
    background-color: var(--blue-button);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  .email-field {
    height: 35px;
    width: 400px;
    border-radius: 4px;
  }
  .password-field {
    height: 35px;
    width: 400px;
    border-radius: 4px;
  }
  .name-field {
    height: 35px;
    width: 400px;
    border-radius: 4px;
  }

  .check-me-out {
    font-size: 0.8rem;
  }
}
